* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html,
body {
  height: 100vh;
  background-color: #E3E2DF; /* Platinum */
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  height: 70px;
  padding: 20px 20px 0px 20px;
  border-bottom: 1px solid #5D737E; /* cadet */
  /* border: 1px solid #fff; */ /* debugging */
}

.navbar-link a {
  color: #9A1750; /* Jazzberry Jam */
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  text-decoration: none;
}

.greeting,
.subgreeting {
  color: #5D001E; /* Claret */
  font-family: Helvetica, sans-serif;
}

.greeting {
  font-size: 86px;
}

.subgreeting {
  font-size: 25px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #E3E2DF;
  /* border: 1px solid #fff; */ /* debugging */
  height: calc(100vh - 70px);
}

.extlinks {
  /* border: 1px solid #fff; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: left;
}

.extlink1 {
  margin-right: 30px;
}

.extlink2 {
  margin-left: 30px;
}


.navlinks {
  /* border: 1px solid #fff; */
  display: flex;
  flex-direction: row;
}

.navbar-link {
  margin-left: 30px;
  font-size: 28px;
}

svg {
  fill: #9A1750;
  /* border: 1px solid #fff; */
}

tabbed {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #E3E2DF;
  height: calc(100vh - 70px);
  width: 100vw;
  /* border: 1px solid #fff; */ /* debugging */
}

.tabbar {
  overflow: hidden;
  width: 100vw;
  display: flex;
  justify-content: center;
  /* border: 1px solid #ccc; */
  background-color: #E3E2DF; /* Platinum */
}

.tabbutton {
  background-color: inherit;
  color: #5D737E; /* Cadet*/
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}


.tab {
  margin-bottom: auto;
  padding-bottom: 20px;
  width: 600px;
  margin-top: 50px;
  font-family: Garamond;
  text-align: center;
  color: #292E1E; /* Pine green*/
}
